<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Sobre o Projeto</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/contato">Contato</a>
        <a href="/video">Vídeo Flask</a>
    </nav>

    <p>
        Este projeto foi desenvolvido para ensinar
        organização de aplicações web Flask.
    </p>

</body>
</html>
